@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .bg-header {
        background-image: url('layout/bg-header.png');
        background-size: cover;
        background-position: bottom center;
    }

    .bg-footer {
        background-image: url('/layout/bg-footer.png');
        background-size: cover;
        background-position: top center;
    }

    .bg-characters {
        background-image: url('/layout/bg-characters.png');
        background-size: cover;
        background-position: center;
    }

    .text-shadow {
        text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    }
}

html {
    scroll-behavior: smooth;
}